<h1>Add Your User Details</h1>
<div id="bd">
	<div class="yui-g">
			Email Address:  <%= current_user.email %> - Please be complete as possible.
			<%= simple_form_for @affiliate_detail, :url => create_affiliate_details_path do |f| %>
			<%= f.error_notification %>
 			<%= f.input  :user_id, :as => :hidden, :input_html => {:value => current_user.id} %>
			<%= f.input :first_name %>
			<%= f.input :last_name %>
			<%= f.input :title %>
			<%= f.input :company %>
			<%= f.input :phone %>
			<%= f.input :address %>
			<%= f.input :city %>
			<%= f.input :state %>
			<%= f.input :post_code %>
			<%= f.input :country, :as => :string %>
			<%= f.input :affiliate_code, :hint => "Create your own affiliate code - no special characters or spaces", :placeholder => "e.g. Your Company Name" %>
			<%= render :partial => "terms" %>
			<br>
			<%= f.input :accepted_terms, :label => "  I have read, understand, and accept the Terms of the Breeasy Affiliate Program." %>

			<%= f.submit "Create Affiliate Account" %>
			<% end %>

	</div>
</div>