
	<div id="yui-main">
		<div class="features">
			<h1>Thanks!  We will get back to straight away.  In the meantime, check out our services.</h1>

			<p id="notice"><%= notice %></p>

			<p>What you sent us:</p>

			<p>
			  <b>First name:</b>
			  <%= @contact.first_name %>
			</p>

			<p>
			  <b>Last name:</b>
			  <%= @contact.last_name %>
			</p>

			<p>
			  <b>Email:</b>
			  <%= @contact.email %>
			</p>

			<p>
			  <b>Company:</b>
			  <%= @contact.company %>
			</p>
			<p>
			  <b>Phone:</b>
			  <%= @contact.phone %>
			</p>
			<p>
			  <b>Twitter:</b>
			  <%= @contact.twitter %>
			</p>
			<p>Interested in:<br>
				<b>Breeasy:</b>  <%= @contact.breeasy %> <br>
				<b>White/Private:</b>  <%= @contact.white_label %> <br>
				<b>Internet Marketing:</b>  <%= @contact.marketing %> <br>
				<b>Affiliate:</b>  <%= @contact.referral %> <br>
				<b>Breeasy Billing Center:</b>  <%= @contact.bbc %> <br>
			</p>

			<p>
			  <b>Description:</b>
			  <%= @contact.description %>
			</p>
			<p><b>Contact Method:</b>
				<%= @contact.contact_method %></p>
			
		
			
		</div> <!-- features -->
	</div> <!-- yui-main -->


