<h1>Thanks!  We will get back to straight away.  In the meantime, checkout our services.</h1>

<p id="notice"><%= notice %></p>

<p>What you sent us:</p>

<p>
  <b>First name:</b>
  <%= @contact.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @contact.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @contact.email %>
</p>

<p>
  <b>Company:</b>
  <%= @contact.company %>
</p>
<p>
  <b>Phone:</b>
  <%= @contact.phone_number %>
</p>
<p>
  <b>Twitter:</b>
  <%= @contact.twitter %>
</p>
<p>Interested in:<br>
	<b>Breeasy:</b>  <%= @contact.breeasy %> <br>
	<b>White/Private:</b>  <%= @contact.white_label %> <br>
	<b>Internet Marketing:</b>  <%= @contact.marketing %> <br>
	<b>Referrals:</b>  <%= @contact.referral %> <br>
	
	
	

<p>
  <b>Description:</b>
  <%= @contact.description %>
</p>
<p><b>Contact Method:</b>
	<%= @contact.contact_method %></p>
