<%= form_for @user, :url => {:controller => 'users', :action => 'create'} do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>An error occurred.</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </p>
<% if master %>

	    <%= f.hidden_field :master, :value => master %>
		<%= f.hidden_field :account_executive_id, :value => 1 %>
	    
		
<% end %>
<% if master_id %>

	    <%= f.hidden_field :master_id, :value => master_id %>
		
<% end %>


  <p class="button"><%= f.submit %></p>
<% end %>