<div id="bd">

		<div class="yui-g">
			<h1>Welcome to the Breeasy Affiliate Program<%= ", #{current_user.affiliate_detail.first_name}" unless current_user.affiliate_detail.nil? %></h1>
		    <div class="yui-u first">
			
			<h2>Your Details</h2>
			<table>
				<thead></thead>
				<tbody>
					<tr><td>Login:</td><td><%= current_user.email %></td></tr>
					<% unless current_user.affiliate_detail.nil? %>
						<tr><td>First Name:</td><td><%= current_user.affiliate_detail.first_name %></td></tr>
						<tr><td>Last Name:</td><td><%= current_user.affiliate_detail.last_name %></td></tr>
						<tr><td>Master?</td><td><%= current_user.master %></td></tr>
						<tr><td>Title:</td><td><%= current_user.affiliate_detail.title%></td></tr>
						<tr><td>Phone:</td><td><%= current_user.affiliate_detail.phone%></td></tr>
						<tr><td>Company:</td><td><%= current_user.affiliate_detail.company %></td></tr>
						<tr><td>Address:</td><td><%= current_user.affiliate_detail.address %></td></tr>
						<tr><td>City:</td><td><%= current_user.affiliate_detail.city %></td></tr>
						<tr><td>State:</td><td><%= current_user.affiliate_detail.state %></td></tr>
						<tr><td>Post Code:</td><td><%= current_user.affiliate_detail.post_code %></td></tr>
						<tr><td>Country:</td><td><%= current_user.affiliate_detail.country %></td></tr>
						<tr><td>Referral/Affiliate Code:</td><td><%= current_user.affiliate_detail.affiliate_code %></td></tr>
						<tr><td colspan="2"><%= link_to "Edit", edit_user_affiliate_path(current_user.id, current_user.affiliate_detail) %> | <%= link_to "Logout", logout_path %></td></tr>
						
					<% else %>
						<tr><td colspan="2"><%= link_to "Enter your Details", new_affiliate_details_path %></td></tr>
					
					<% end %>
				</tbody>
			</table>
			 </div>
		    <div class="yui-u">
			<h2>Recent Activity</h2>
			
			</div>
			
		</div>
		<h2>Your Referral Code Links </h2>
		<table>
			<thead><th>Description</th><th>URL</th><th>Link</th><th>Notes</th></thead>
			<tbody>
				<% current_user.urls.each do |url| %>
					<tr><td><%= url.program_description %></td><td><%= url.url %></td><td><%= url.link %></td><td><%= url.program.notes %></td></tr>
			
				<% end %>
			</tbody>
		</table>
		<h2>Commission Schedule - Updated 01/25/2013</h2>
		<table>
			<thead><th>Id</th><th>Product Name</th><th>Interval</th><th>New</th><th>Renewal</th></thead>
			<tbody>
				<% Product.active.each do |p| %>
					<tr><td><%= p.id %></td><td><%= p.name %></td><td><%= p.interval %></td><td><%= number_to_percentage(p.new * 100, :precision => 0) %></td><td><%= number_to_percentage(p.renewal * 100, :precision => 0) %></td></tr>
				<% end %>
			</tbody>
		</table>
		Legend:  1 = Monthly, 2 = Annual<br>
		<h2>Instructions</h2>
</div>
