<div id="bd">

		<div class="yui-g">
			<h1>Welcome to the Breeasy Affiliate Program<%= ", #{current_user.affiliate_detail.first_name}" unless current_user.affiliate_detail.nil? %></h1>
		    <div class="yui-u first">
			<% if !current_user.affiliate_detail.accepted_terms %>
				<p>Oops!  You have not accepted the Breeasy Affiliate Program Terms and Conditions.  <%= link_to "Review and Accept Terms now.", edit_user_affiliate_path(current_user.id, current_user.affiliate_detail) %></p>
			<% end %>
			<h2>Your Details</h2>
			<table>
				<thead></thead>
				<tbody>
					<tr><td>Login:</td><td><%= current_user.email %></td></tr>
					<% unless current_user.affiliate_detail.nil? %>
						<tr><td>First Name:</td><td><%= current_user.affiliate_detail.first_name %></td></tr>
						<tr><td>Last Name:</td><td><%= current_user.affiliate_detail.last_name %></td></tr>
						<tr><td>Affiliate Type:</td><td><%= affiliate_type(current_user.master) %></td></tr>
						<% if current_user.master %>
							<tr><td># of Sub-Affiliates:</td><td><%= current_user.sub_affiliates.count %></td></tr>
						<% else %>
							<tr><td>Affiliate Partner:</td><td><%= current_user.master_id unless current_user.master_id.nil? %></td></tr>
						<% end %>
						<tr><td>Title:</td><td><%= current_user.affiliate_detail.title%></td></tr>
						<tr><td>Phone:</td><td><%= current_user.affiliate_detail.phone%></td></tr>
						<tr><td>Company:</td><td><%= current_user.affiliate_detail.company %></td></tr>
						<tr><td>Website:</td><td><%= current_user.affiliate_detail.website %></td></tr>
						<tr><td>Address:</td><td><%= current_user.affiliate_detail.address %></td></tr>
						<tr><td>City:</td><td><%= current_user.affiliate_detail.city %></td></tr>
						<tr><td>State:</td><td><%= current_user.affiliate_detail.state %></td></tr>
						<tr><td>Post Code:</td><td><%= current_user.affiliate_detail.post_code %></td></tr>
						<tr><td>Country:</td><td><%= current_user.affiliate_detail.country %></td></tr>
						<tr><td>Referral/Affiliate Code:</td><td><%= current_user.affiliate_detail.affiliate_code %></td></tr>
						<tr><td colspan="2"><%= link_to "Edit", edit_user_affiliate_path(current_user.id, current_user.affiliate_detail) %> | <%= link_to "Logout", logout_path %></td></tr>
						
					<% else %>
						<tr><td colspan="2"><%= link_to "Enter your Details", new_affiliate_details_path %></td></tr>
					
					<% end %>
				</tbody>
			</table>
			<% if current_user.master %>
			<h2>Sub-Affiliate and Sales Rep Sign-up Page</h2>
			<%= link_to "Add Sub-Affiliates and Sales Reps", sub_affiliate_path(current_user.id)  %>
			<h2>Sub-Affiliate and Sales Rep Sign-up URL</h2>
			<p><%= "http://affiliate.breeasy.com/sub-affiliate/#{current_user.id}" %></p>
			<% end %>
			<h2>Sub-Affiliate and Sale Rep Sign-up Link</h2>
			<p><%= "<a href='http://affiliate.breeasy.com/sub-affiliate/#{current_user.id}>Earn with my Referral Program!</a>" %></p>
			 </div>
		    <div class="yui-u">
			<h2>Recent Customer Signups</h2>
			<table>
				<thead><tr><th>user email</th><th>App</th><th>Plan</th><th>Date</th></tr></thead>
				<% current_user.get_bfsb_referrals.each do |r| %>
					<tr><td><%= r['user']['email'] %></td><td>BFSB</td><td>Get Plan ID</td><td><%= r['user']['created_at'] %></td></tr>
				<% end %>
				<% current_user.get_breeasy_billing_referrals.each do |r| %>
					<tr><td><%= r['email'] %></td><td><%= r['source'] %></td><td>Free App</td><td><%= r['created_at'] %></td></tr>
				<% end %>

				
			</table>
			<h2>Recent Paid Subscriptions</h2>
			<table>
				<thead><th>App</th><th>Plan</th><th>Date</th><th>email</th></thead>
			</table>
			<h2>Earnings</h2>
			<table>
				<thead><th>This Week</th><th>This Month</th><th>This Year</th><th</thead>
			</table>
			<h2>Mobile Affiliate Management</h2>
			<p><%= link_to "Signup customers wherever you are", "http://affiliate.breeasy.com/mobile/index.html" %></p>
			</div>
			
		</div>
		<h2>Your Referral/Affiliate Code Links </h2>
		<% current_user.urls.each do |url| %>
		<table>
			<h3><%= url.program_description %></h3>
			<thead><th>URL</th><th>Link</th><th>Notes</th></thead>
			<tbody>
					<tr><td><%= url.url %></td><td><%= url.link %></td><td><%= url.program.notes %></td></tr>
			</tbody>
		</table>
		<% end %>
		<%= render :partial => "products" %>
		<% if current_user.master %>
			<h2>Sub-Affiliates and Sales Reps</h2>
			<table>
				<thead><tr><th>Id</th><th>Email</th><th>First Name</th><th>Last Name</th><th>Company</th><th>Referral Code</th></tr></thead>
				<tbody>
					<% current_user.sub_affiliates.each do |sub| %>
					<tr>
						<td><%= sub.id %></td><td><%= sub.email %></td>
						<% unless sub.affiliate_detail.nil? %>
							<td><%= sub.affiliate_detail.first_name %></td>
							<td><%= sub.affiliate_detail.last_name %></td>
							<td><%= sub.affiliate_detail.company %></td>
							<td><%= sub.affiliate_detail.affiliate_code %></td>
							<td>View Details</td>
						<% end %>
						
					</tr>
					<% end %>
				</tbody>
			</table>
			<h2>Your Account Executive</h2>
			<table>
				<thead><tr><th>Name</th><th>Email</th><th>Skype</th><th>Phone</th></tr></thead>
				<tbody>
					<tr>
							<td><%= current_user.account_executive.name %></td>
							<td><%= current_user.account_executive.email %></td>
							<td><%= current_user.account_executive.skype %></td>
							<td><%= current_user.account_executive.phone %></td>

						
					</tr>

				</tbody>
			</table>
		<h3>Your Breeasy for Small Business Deluxe Account</h3>
			<% if current_user.get_breeasy_account %>
			<p>Breeasy for Small Business Account is active.</p>
			<% else %>
			<p><%= link_to "Get Your Account Now", "http://app.breeasy.com/master-affiliate?affiliate_code=#{current_user.affiliate_detail.affiliate_code}" %></p>
			
			<% end %>

		
		<% end %>
		
</div>
