<div class="breadcrumbs"><a href="http://www.breeasy.com">Breeasy.com</a> > <a href="http://www.breeasy.com/opportunities">Opportunities</a> > <a href="http://affiliate.breeasy.com">Breeasy Affiliate Programs</a> > Master Affiliate Program</div>

<div id="bd">
	<div class="yui-g">
	    <div class="yui-u first">
		<a name="signup"></a>
		<h1>Sign Up Now!</h1>

		<%= render :partial => 'affiliates/signup_form', :locals => {:master => true, :master_id => nil} %>
			<%= link_to "Already have a Breeasy Affiliate login?", login_path %>
			<%= render :partial => 'affiliates/quote' %>
			<h2>Hurry - Limited Number of Master Affiliates Available</h2>
			<h2>What is a Sub-Affiliate?</h2>
			<p>A Sub-Affiliate is a Breeasy Affiliate that, you, as a Master Affiliate, recruit and signup.  You will earn 15% on every paid subscription earned by each of your sub-affiliates.  An affiliate is generally a small business or website that referrers Breeasy through the internet, email, newsletters, etc.</p>
			<h2>What is a Sales Rep?</h2>
			<p>Similar to a Sub-Affiliate, A Sales Rep is recruited by you, as a Master Affiliate to sell Breeasy  App subscriptions.  Unlike a sub-affiliate, a Sales Rep uses traditional marketing such as conferences, meetups, and other direct sales methods to sell Breeasy apps to all types of small businesses.  Master Affiliates earn 15% on every paid subscription sold by a Sales Rep.</p>
			<h2>Are there any restrictions?</h2>
			<p>No.  A sub-affiliate can also sell direct and a sales rep can refer Breeasy as a sub-affiliate would.</p>
			<h2>No Administration Required</h2>
			<p>We handle all the payments, credits and tax reporting for you and your reps and sub-affiliates.</p>
			<h2>How much does it cost?</h2>
			<p>Master Affiliate membership is available for $995.00 (USD) per year.  This includes a subscription to Breeasy for Small Business Deluxe - a $149.95 value - and free subscriptions to all future breeasy apps.  
				Each Master Affiliate membership includes increased commissions (when compared to our standard affiliate program), the ability to recruit and earn from your own sales team, a sub-affiliate signup page, reporting and payment management to you and your sub-affiliates.  <a href="#signup">Signup Now!</a>
			<p><%= link_to "Standard Affiliate Program", new_standard_path %></p>
		 </div>
	    <div class="yui-u">
	    <h1>Breeasy Master Affiliate Program</h1>
	    <h2>Make Breeasy <em>Your</em> Small Business!</h2>
		<p>Looking for an interesting, simple, easy, and profitable small business of your own?  Need to maximize your income?  Looking for a part-time opportunity with unlimited upside potential?  Know lots of people who are great at selling or know freelancers, consultants, and small businesses? Becoming a Breeasy Master Affiliate is for you.  You can earn commissions of up to 50% on new paid subscribers and 40% on paid renewals.  Plus, you can recruit you own affiliates or sales representatives and earn from every subscription <em>they sell</em>.  Some conditions apply.  <%= link_to "How Much Can I Earn as a Master Affiliate?", master_affiliate_earnings_path %></p>
		<h2>How it Works</h2>
		<p>It's easy to become a master affiliate, use the signup form over on the left, and you'll be on your way.  As a Breeasy Master Affiliate, you:
			<table>
				<thead>
					<tr><th>Feature</th><th>Description</th></tr>
				</thead>
				<tbody>
					<tr><td>Increased Earnings</td><td>Earn up to 50% on new paid annual subscriptions</td></tr>
					<tr><td>Earn on Renewals, too</td><td>Earn 40% on annual renewals and all monthly subscriptions</td></tr>
					<tr><td>Create a Sales Team!</td><td>You earn 15% on every sub-affiliate sale</td></tr>
					<tr><td>Two ways to earn</td><td>Sell Direct and through your sales team or sub-affiliates</td></tr>
					<tr><td>Sub-Affiliate Signup Page</td><td>Recruit and add Sales reps with ease</td></tr>
					<tr><td>Special Offers</td><td>Exclusive Promotions and Specials only available to Master Affiliates</td></tr>
					<tr><td>Dedicated Support</td><td>Access to an Account Executive to help/coach you to success!</td></tr>
					
					
				</tbody>
			</table>
		<br>
		<h2>On Demand Tracking and Reporting</h2>
		<p>Do you like to manage your affiliate program in real time? You can see how many trials, plans, and renewals are active and pending.  You can also track your sub-affiliates or sales representatives. </p>
		<h2>Is a Credit Card Required?</h2>
		<p>No.  It only takes about a minute to signup and create your Master Affiliate Business.  After 30 days we will invoice you for your annual membership.  You can cancel at anytime - It's 100% risk free.  <a href="#signup">Make Breeasy your business today!</a></p>
		</div>
		

	</div>
</div>