<div class="breadcrumbs"><a href="http://www.breeasy.com">Breeasy.com</a> > <a href="http://www.breeasy.com/opportunities">Opportunities</a> > <a href="http://affiliate.breeasy.com">Breeasy Affiliate Programs</a> > Standard Affiliate Earnings Calculator</div>

<div id="bd">
	<div class="yui-g">
		<h1>Breeasy Standard Affiliate Earnings Calculator</h1>

		<%= form_tag standard_calculate_commissions_path :method => :post do %>
		<h2>Step 1. Enter number of Subscriptions by type:</h2>
		<table>
			<thead><tr><th>Id</th><th>Plan</th><th>Interval</th><th>Commission Rate</th><th>Number of Subscriptions sold per year</th></tr></thead>
			<tbody>
				<% Product.active.standard.each do |p| %>
					<tr><td><%= p.id %></td><td><%= p.name %></td><td><%= product_interval(p.interval) %></td><td><%= number_to_percentage(p.new * 100, :precision => 0) %></td><td><%= text_field_tag "direct_#{p.id}", 75 %></td></tr>
				<% end %>
			</tbody>
		</table>
	

		<h2>Step 2. Review Potential Earnings</h2>
		<table>
			<thead><tr><th># of Subs</th><th>Annual Total</th></tr></thead>
			<tbody>

					<tr><td><%= @total_count %></td><td><%= number_to_currency(@total_direct) %></td></tr>

			</tbody>
		</table>
		<%= submit_tag "Calculate Earnings", :name => nil%>	
		<% end %>
		<p>Assumptions - Calculates estimated earnings per year.  Monthly subscriptions are assumed to last a full year regardless of of start date.  All calculations are based on current plan prices, without any discounts or promotions.</p>		
		<p>Remember - These earnings are in the first year - You will continue to earn commissions on all renewals - up to  25% on paid renewals - and they're automatic!</p>
	</div>
</div>